:root {
    --green: rgb(67, 148, 121);
}

div.side {
    background-color: var(--green);
    max-width: 18vw;
    height: 150vh;
    max-height: 150vh;
    margin: 0px;
    color: white;
    box-sizing: border-box;
    justify-content: center;
}

.side-img {
    width: 18vw;
    height: 18vw;
    overflow: hidden;
}

.side-img img {
    max-height: 200px;
    max-width: 200px;
    width: 18vw;
    height: 18vw;
    box-sizing: border-box;
    padding: 10px;
}

h1 {
    color:white;
    font-size: 40px;
}

div.main h2 {
    color: var(--green);
}

div.main hr {
    max-width: 60%;
    color: lightgray;
}