:root {
    --green: rgb(36, 163, 155);
    --dgreen: rgb(37, 111, 114);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

div.side {
    background-color: var(--green);
    max-width: 17vw;
    margin: 0px;
    color: white;
    position: relative;
    min-height: 100vh;
}

.side-name {
    color:white;
    font-size: 1.5em;
    margin-left: 10px;
    line-height: 50%;
}

.side-img {
    width: 100%;
    height: 17vw;
    max-height: 200px;
    max-width: 200px;
    position: relative;
}

.side-img img {
    width: 100%;
    height: 100%;
    padding: 10%;
    position: absolute;
}

img:hover {
    animation: spin 10000ms linear infinite;
}


.side-text-headers {
    background-color: var(--dgreen);
}

.side-text-headers h2 {
    margin-left: 10px;
}

.side-text-paragraphs-singleline {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    line-height: 0.7em;
}
.side-text-paragraphs-interests {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
}

div.main {
    margin: 10px 0px 0px 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

div.main h2 {
    color: var(--green);
    margin: 0px;
    text-shadow: 3px 3px 3px rgb(175, 202, 250);
}

div.main hr {
    max-width: 100%;
    color: lightgray;
}

div.main-text {
    margin-left: 150px;
    transition: all 500ms;
}

div.main-text:hover {
    background-color: var(--green);
    color: rgb(255, 252, 234);
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (max-width: 992px) {
    body {
        font-size: 75%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 60%;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 50%;
    }
}



